@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  --text: #FFFFFF;
  --red-accent: #FF7262;
  --background: #2B2B2B;
  --blue-accent: #377DF7;
  --green-accent: #00AC4F;
  --call-to-action: #A259FF;
  --caption-label-text: #858584;
  --background-secondary: #3B3B3B;
  --gradient1: linear-gradient(135deg, #A259FF, #FF6250);
  --gradient2: linear-gradient(135deg, #A259FF, #377DF7);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: var(--background);
}

@layer utilities {
  .text-balance {}
}

.custom-shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.card {
  @apply flex flex-col items-center justify-center bg-background-secondary rounded-[20px] relative;
}

.card-ranking {
  @apply absolute top-5 left-5 bg-background w-[30px] h-[30px] flex justify-center items-center text-caption-label-text rounded-full
}

.button {
  @apply border-2 border-call-to-action px-10 h-[60px] rounded-xl text-text flex justify-center items-center
}

.button-filled{
  @apply bg-call-to-action px-10 text-text h-full w-[40%] flex justify-center items-center
}